TELEGRAM_TOKEN= 8601919360:AAFXu6O0KVPqzR5EhA4V363bxZTJ8bVeP_A
GOOGLE_SHEETS_CREDENTIALS_FILE=service_account.json
GOOGLE_SHEET_URL_OR_ID= https://docs.google.com/spreadsheets/d/1Zt___HhPwzNbaqOxua139DwdXtj7qSX9Anttp-Sa5fY/edit?gid=0#gid=0
BAYUT_API_KEY=34d9cd939dmsh245f7695dee2b0ap1e364djsn800d611746f

ENVIRONMENT=production
